<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加出版社信息</title>
</head>
<body>
<form action="{% url 'add_publisher' %}" method="post">
    {% csrf_token %}
    名称:<input type="text" name="name"><br>
    地址:<input type="text" name="address"><br>
    市:<input type="text" name="city"><br>
    省:<input type="text" name="state_province"><br>
    国家:<input type="text" name="country"><br>
    网址:<input type="text" name="website"><br>
    <input type="submit" value="提交"><br>
</form>
</body>
</html>